<!DOCTYPE html>
<html>
<head>
	<style>
		body
		{
			background-color: black;
		}
		input
		{
			top:30%;
			padding: 15px 30px;
			position: absolute;
		}
		#submitbutton
		{
          height: 60px;
         left:57.9%;
         background-color: purple;
         color:white;
         
		}
		#inputtext
		{
		 font-size: 20px;
		 color:purple;
		 left:30%;
         width:300px;
         height: 25px;
		}
         #homepage
		{
			top:60%;
			position:absolute;
			background-color:purple;
			color:white;
			padding: 15px 20px;
		}
	</style>
	<title>Weather</title>
</head>
<body>
	<center>
	<form action="../../Controller/php/weather.php" method="GET">
		<div id="aligntext">
		<input type="text" name="city" id="inputtext" placeholder="enter city name or pincode">
		<input type="submit" value="GetWeather" id="submitbutton">
        </div>	
	</form>
	<a href='../html/index.html'><button id='homepage'>Goback</button></a>
    </center>
</body>
</html>